#gameWrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

#ui {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    color: white;
    font-size: 22px;
    font-family: Arial;
    pointer-events: none;
}


